<div class="col-md-12">
    <div class="section-title">
        <h3 class="title">Novos Produtos</h3>
        <div class="section-nav">
            <ul class="section-tab-nav tab-nav">
                <li class="active"><a data-toggle="tab" href="#tab1">Notebooks</a></li>
                <li><a data-toggle="tab" href="#tab1">Alexas</a></li>
                <li><a data-toggle="tab" href="#tab1">Benefícios Flash</a></li>
                <li><a data-toggle="tab" href="#tab1">Headphones</a></li>
                <li><a data-toggle="tab" href="#tab1">Day Off</a></li>
                <li><a data-toggle="tab" href="#tab1">Vale Chocolate</a></li>
            </ul>
        </div>
    </div>
</div>