<app-header></app-header>
<app-navbar></app-navbar>
<div class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="../../../assets/img/alexa.jpg" alt="" />
          </div>
          <div class="shop-body">
            <h3>Echo Show 5(3ª geração -2023)</h3>
            <a href="#" class="cta-btn"
              >500 VD$ <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="../../../assets/img/imagem (1).png" alt="" />
          </div>
          <div class="shop-body">
            <h3>Benefício Cartão Flash</h3>
            <a href="#" class="cta-btn"
              >500 VD$ <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-xs-6">
        <div class="shop">
          <div class="shop-img">
            <img src="../../../assets/img/dragon.jfif" alt="" />
          </div>
          <div class="shop-body">
            <h3>RedDragon Teclado Mecânico Gamer</h3>
            <a href="#" class="cta-btn"
              >500 VD$ <i class="fa fa-arrow-circle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="row">
      <app-navbar-section></app-navbar-section>
      <div class="col-md-12">
        <div class="row">
          <div class="products-tabs">
            <div id="tab1" class="tab-pane active">
              <div class="products-slick" data-nav="#slick-nav-1">
                <div class="product">
                  <div class="product-img">
                    <img src="../../../assets/img/stanley.png" alt="" />
                    <div class="product-label">
                      <span class="new">Novo Produto</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <h3 class="product-name">
                      <a href="produtos.html">Copo Stanley 473ml Cerveja</a>
                    </h3>
                    <h4 class="product-price">
                      100 VD$<del class="product-old-price">250 VD$</del>
                    </h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i
                        ><span class="tooltipp"
                          >Adicionar à lista de desejos</span
                        >
                      </button>

                      <button class="quick-view">
                        <i class="fa fa-eye"></i
                        ><span class="tooltipp">Ver mais</span>
                      </button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn">
                      <i class="fa fa-shopping-cart"></i> Adicionar ao carrinho
                    </button>
                  </div>
                </div>
                <div class="product">
                  <div class="product-img">
                    <img src="../../../assets/img/jbl-go.png" alt="" />
                    <div class="product-label">
                      <span class="new">Novo Produto</span>
                    </div>
                  </div>
                  <div class="product-body">
                    <h3 class="product-name">
                      <a href="#">Caixa de som JBL GO3 IPX7 Bluethooth</a>
                    </h3>
                    <h4 class="product-price">
                      200 VD$<del class="product-old-price">300 VD$</del>
                    </h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star-o"></i>
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i
                        ><span class="tooltipp"
                          >Adicionar à lista de desejos</span
                        >
                      </button>

                      <button class="quick-view">
                        <i class="fa fa-eye"></i
                        ><span class="tooltipp">Ver mais</span>
                      </button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn">
                      <i class="fa fa-shopping-cart"></i> Adicionar ao carrinho
                    </button>
                  </div>
                </div>
                <div class="product">
                  <div class="product-img">
                    <img src="../../../assets/img/mouse-pad.png" alt="" />
                    <div class="product-label"></div>
                  </div>
                  <div class="product-body">
                    <h3 class="product-name">
                      <a href="#"
                        >Mouse Pad Gamer Speed MPG-103 Preto/Vermelho</a
                      >
                    </h3>
                    <h4 class="product-price">
                      50 VD$<del class="product-old-price">150 VD$</del>
                    </h4>
                    <div class="product-rating"></div>
                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i
                        ><span class="tooltipp"
                          >Adicionar à lista de desejos</span
                        >
                      </button>

                      <button class="quick-view">
                        <i class="fa fa-eye"></i
                        ><span class="tooltipp">Ver mais</span>
                      </button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn">
                      <i class="fa fa-shopping-cart"></i> Adicionar ao carrinho
                    </button>
                  </div>
                </div>
                <div class="product">
                  <div class="product-img">
                    <img src="../../../assets/img/air.png" alt="" />
                  </div>
                  <div class="product-body">
                    <h3 class="product-name">
                      <a href="#"
                        >Fritadeira Sem Óleo Air Fryer 3,5L, Mondial ...</a
                      >
                    </h3>
                    <h4 class="product-price">
                      500 VD$<del class="product-old-price">1500 VD$</del>
                    </h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i
                        ><span class="tooltipp"
                          >Adicionar à lista de desejos</span
                        >
                      </button>

                      <button class="quick-view">
                        <i class="fa fa-eye"></i
                        ><span class="tooltipp">Ver mais</span>
                      </button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn">
                      <i class="fa fa-shopping-cart"></i> Adicionar ao carrinho
                    </button>
                  </div>
                </div>
                <div class="product">
                  <div class="product-img">
                    <img src="../../../assets/img/uber.jfif" alt="" />
                  </div>
                  <div class="product-body">
                    <h3 class="product-name">
                      <a href="#">R$30 Gift Card Uber - Código Digital</a>
                    </h3>
                    <h4 class="product-price">
                      500 VD$<del class="product-old-price">1500 VD$</del>
                    </h4>
                    <div class="product-rating">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <div class="product-btns">
                      <button class="add-to-wishlist">
                        <i class="fa fa-heart-o"></i
                        ><span class="tooltipp"
                          >Adicionar à lista de desejos</span
                        >
                      </button>
                      <button class="quick-view">
                        <i class="fa fa-eye"></i
                        ><span class="tooltipp">Ver mais</span>
                      </button>
                    </div>
                  </div>
                  <div class="add-to-cart">
                    <button class="add-to-cart-btn">
                      <i class="fa fa-shopping-cart"></i> Adicionar ao carrinho
                    </button>
                  </div>
                </div>
              </div>
              <div id="slick-nav-1" class="products-slick-nav"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="hot-deal" class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="hot-deal">
          <h2 class="text-uppercase">Novos produtos em</h2>
          <ul class="hot-deal-countdown">
            <li>
              <div>
                <h3>02</h3>
                <span>Dias</span>
              </div>
            </li>
            <li>
              <div>
                <h3>10</h3>
                <span>Horas</span>
              </div>
            </li>
            <li>
              <div>
                <h3>34</h3>
                <span>Minutos</span>
              </div>
            </li>
            <li>
              <div>
                <h3>60</h3>
                <span>Segundos</span>
              </div>
            </li>
          </ul>

          <p>Registre o seu Kayzen para garantir o seu</p>
          <a class="primary-btn cta-btn" href="#">Registrar agora</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
